{% extends "base.html" %} {% load static %}


    <title>To Do App</title>

    {% block body %}

    <h1>
        Welcome to Mordor
    </h1>

      <style>
         body {
            background-image: url('https://ae01.alicdn.com/kf/HTB1IKYjs1SSBuNjy0Flq6zBpVXaA.jpg');
             background-repeat: no-repeat;
         }
      </style>

<!-- Github -->
<a class="btn text-white" style="font-size:36px;" href="https://github.com/K4sDominika/Whatever" role="button">
  <i class="fab fa-github"></i>
</a>
    {% endblock %}




