<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
</head>
<body>

    <table class="table table-sm table-dark" border="1">
    {% for status in statuses %}
        {% if forloop.counter == 1 %}
            <thead>
                <tr>
                {% for status in statuses %}
                    <td>
                        {{ status.name }}
                    </td>
                {% endfor %}
                </tr>
            </thead>
        {% endif %}
        {% if forloop.counter == 1 %}
        <tr>
        {% endif %}
            <td>
                <table>
                {% for task in status.tasks.all %}
                    {% if task.status.id == status.id %}
                        <tr>
                            <td>
                                {{ task.title }}
                                {{ task.status.name }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </td>
        {% if forloop.last == 1 %}
        </tr>
        {% endif %}
    {% endfor %}

</table>

</body>
</html>


